# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

#Back-end
/restful-web-services/HELP.md
/restful-web-services/target/
/restful-web-services/!.mvn/wrapper/maven-wrapper.jar
/restful-web-services/!**/src/main/**
/restful-web-services/!**/src/test/**

### STS ###
/restful-web-services/.apt_generated
/restful-web-services/.classpath
/restful-web-services/.factorypath
/restful-web-services/.project
/restful-web-services/.settings
/restful-web-services/.springBeans
/restful-web-services/.sts4-cache

### IntelliJ IDEA ###
.idea
/restful-web-services/.idea
/restful-web-services/*.iws
/restful-web-services/*.iml
/restful-web-services/*.ipr
